@import '../../../public/css/base/mixins';
@import '../../../public/css/base/variables';

/**
 * AppForm.scss
 */
.app-form {
  input,
  select,
  textarea {
    display: inline-block;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .control-label {
    @include heading-tertiary();
    padding-right: 0;
    text-align: left;
  }

  &.form-horizontal .control-label {
    padding-top: 10px;
  }

  .form-control {
    background-color: #fafafa;
    border-color: $border-color;
    box-shadow: none;

    &:focus {
      background-color: $white;
      box-shadow: 0 0 0 3px $background-color-blue;
      border-color: $border-color-blue;
    }
  }

  .has-error .form-control {
    background-color: $background-color-red-light;
    border-color: $border-color-red;

    &:focus {
      box-shadow: 0 0 0 3px $background-color-red;
    }
  }

  .has-success .form-control {
    background-color: $background-color-green-light;
    border-color: $border-color-green;

    &:focus {
      box-shadow: 0 0 0 3px $background-color-green;
    }
  }
}

.app-form-bordered .form-group {
  border-bottom: 1px solid $border-color-light;
  padding-bottom: 10px;
}
.app-form .form-group:last-child {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
