/**
 * variables.scss
 */

/* Colors */
$blue: rgba(31, 141, 214, 1);
$blue-50: rgba(31, 141, 214, 0.50);
$blue-25: rgba(31, 141, 214, 0.25);
$blue-10: rgba(31, 141, 214, 0.10);
$blue-5: rgba(31, 141, 214, 0.05);

$green: rgba(92, 184, 92, 1);
$green-25: rgba(92, 184, 92, 0.25);
$green-10: rgba(92, 184, 92, 0.10);
$green-5: rgba(92, 184, 92, 0.05);

$orange: rgba(233, 127, 16, 1);
$orange-25: rgba(233, 127, 16, 0.25);
$orange-10: rgba(233, 127, 16, 0.10);
$orange-highlight: #f88912;

$red: rgba(217, 83, 79, 1);
$red-25: rgba(217, 83, 79, 0.25);
$red-10: rgba(217, 83, 79, 0.10);
$red-5: rgba(217, 83, 79, 0.05);

$white: #fff;


/* Backgrounds */
$background-color-blue: $blue-25;
$background-color-blue-light: $blue-10;
$background-color-gray: #f5f5f5;
$background-color-green: $green-25;
$background-color-green-light: $green-5;
$background-color-orange: $orange-25;
$background-color-orange-light: $orange-10;
$background-color-red: $red-25;
$background-color-red-light: $red-5;


/* Borders */
$border-color: #e9e9e9;
$border-color-light: #f5f5f5;
$border-color-blue: $blue-50;
$border-color-green: $green;
$border-color-red: $red;


/* Font-Sizes */
$font-size-lg: 18px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;


/* Text */
$text-color: #333;
$text-color-blue: $blue;
$text-color-orange: $orange;
$text-color-dark-gray: #808080;
$text-color-gray: #aaa;
$text-color-light-gray: #ddd;


/* Spacing */
$spacing-xl: 30px;
$spacing-lg: 20px;
$spacing-md: 15px;
$spacing-sm: 10px;
$spacing-xs: 5px;
$spacing-none: 0;
