/**
 * Login.scss
 */
.login {
  background-color: #000;

  .jumbotronContainer {
    display: table;
    height: 750px;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .bgImage {
    background-image: url(/img/home/home-bg.jpg);
    background-position: 50%;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .jumbotron {
    background-color: transparent;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  h1 {
    background-image: url(/img/home/logo-home.png);
    background-size: cover;
    color: #fff;
    height: 78px;
    margin: 0 auto;
    text-indent: -9999px;
    width: 275px;
  }

  .lead {
    color: #fff;
    font-size: 32px;
    margin-bottom: 40px;
    text-shadow: 0 0 5px #000;
  }
}

.marketingSection {
  padding: 100px 0;

  &:nth-child(even) {
    background-color: #fff;
  }
}

/* MOBILE & TABLET */
@media (max-width: 767px) {
  .login {
    .jumbotronContainer {
      height: 650px;
    }

    .bgImage {
      background-position: 35% 50%;
    }

    h1 {
      background-image: url(/img/home/logo-home-mobile.png);
      height: 60px;
      width: 215px;
    }

    .lead {
      font-size: 20px;
    }

    .fbLogin {
      font-size: 15px;
    }
  }
}
